#container{
width:1000px;
height:auto;
background-color:red;
margin:auto;
}
#header{
width:auto;
height:150px;
padding: 30px;
background-color:#778a02;
}
#content{
width:1000px;
height:469px;;
background-color: #eff1e1;
margin:auto;
}
.verticalLine {
border-right: thin solid white;
}
.dropbtn {
    background-color: #778a02;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: 35px;
    margin-left: 40px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    z-index:1 ;  
}

.dropdown-content {
    
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.navbar-default {
    background-color: #778a02;
    border-color: #778a02;
}
.dropbtn {
    background-color: #778a02;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: 35px;
    margin-left: 40px;
    cursor: pointer;
}
.bankinngtext{
    margin-top: 50px;
}
p4{
    margin-left: 19px;
    color: white;
    font-size: 16px;
}
#content-clients{
    float: right;
    width: 700px;
    height:300px;
    background-color: #eff1e1;
}
.HorizontalLine{
    margin-right: 20px;
    margin-left: 55px;
    border-bottom: thick solid #778a02;
}
#content-client a:link {
    text-decoration: none;
    color:#778a02;
}

#content-clients a:visited {
    text-decoration: none;
    color:#5d6e05;
    
}

#content-clients a:hover {
    text-decoration: none;
    color:black;   
}
#content-clients p{
margin-top: 20px;  
margin-left: 55px;
font-size: 12px;
}
.entry-title a:link{
    text-decoration: none;
    color:black;
    font-size: 18px;
    margin: 10px;
}
.entry-title a:visited{
      text-decoration: none;
    color:white;  
}

.entry-title a:hover{
    text-decoration: none;
    color:black   
}

.entry-title a:active{
     text-decoration: none;
}
.entry-title{
    margin: 10px;
    margin-top: 60px;
    margin-left: 30px;
}
.bankinngtext{
    margin-top: 55px;
    
}
p4{
    margin-left: 19px;
    color: white;
    font-size: 18px;
}
.dropdown-content a {
    border-bottom: thin dashed;
    border-color: #778a02;
    }
.entry-title-home a:link{
    text-decoration: none;
    color:black;
    font-size: 18px;
    margin: 10px;
     pointer-events: none;
   cursor: default;
}
.entry-title-home a:visited{
      text-decoration: none;
    color:black;  
}

.entry-title-home a:hover{
    text-decoration: none;
    color:black   
}

.entry-title-home a:active{
     text-decoration: none;
}
.entry-title-home{
    margin: 10px;
    margin-top: 60px;
    margin-left: 30px;
}